# Dependencies
node_modules/

# Build output
dist/
out/

# Electron
*.blockmap

# OS
Thumbs.db
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*
